div {
    width: 400px;
    height: 200px;
    background-color: #7aa874;
    margin: 10px auto;
    color: blue;
}

#one {
    background-image: url("image.avif");
    background-size: auto;
}

#two {
    background-image: url("image.avif");
    background-size: contain;
}

#three {
    background-image: url("image.avif");
    background-size: cover;
}